/* Your CSS Code here. */
.main{
	border: left 5px green;
	width: 200px;
	background: purple;
	border-left: 5px solid green;
}
div h3 {
	background: purple;
	padding: 10px;
	font-size: 20px;
	color: white;
	
}


